<h2>detail de l'utilisateur <%= id  %></h2>
<p>
    <strong> <i class="fa-solid fa-user"></i> Nom et prénom : </strong>
    <%= user.firstname  %> - <%= user.lastname  %>
</p>
<p>
    <strong> <i class="fa-solid fa-envelope"></i> Email : </strong>
    <%= user.email  %> 
</p>

<p>
    <strong> <i class="fa-solid fa-location-pin"></i> Adresse : </strong>
    <%= user.address  %> 
</p>

<p>
    <strong><i class="fa-solid fa-phone"></i> Phone : </strong>
    <%= user.phone  %> 
</p>